{
    "DB_HOST": "",
    "DB_PORT": 3306,
    "DB_USERNAME": "bcloud",
    "DB_PASSWORD": "",
    "DB_ADMIN_USERNAME": "bcloud_admin",
    "DB_ADMIN_PASSWORD": "",
    "DB_DATABASE": null,
    "BLOB_FS_ROOT": "."
}