// Use as reference when setting up your `env.json`.

{
    // HTTP server config
    "PORT": 8080,
    "COOKIE_SECRET": "PLACEHOLDER",

    // Automatic logs cleanup (optional)
    "LOG_MAX_AGE_DAYS": null,
    
    // Data storage
    "DB_CONNECTION": "sqlite:///./data.sqlite",
    "DB_ADMIN_CONNECTION": "sqlite:///./data.sqlite",
    "DB_DATABASE": null,

    // Blob storage (choose only one)
    "BLOB_FS_ROOT": ".",
    "BLOB_SQL": "sqlite:///./data.sqlite",
    "BLOB_S3": "id:secret@mybucket",

    // Google import integration
    "GOOGLE_CLIENT_SECRETS": "config/my_google_client_secrets.json"
}