{
    "DB_CONNECTION": "sqlite:///./data.sqlite",
    "DB_ADMIN_CONNECTION": "sqlite:///./data.sqlite",
    "DB_DATABASE": null,
    "BLOB_FS_ROOT": ".",
    "BLOB_S3_BUCKET": "id:secret@mybucket",
    "GOOGLE_CLIENT_SECRETS": "config/my_google_client_secrets.json"
}